Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -8 -8 1296 705 218 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "F:\Robei\practice\homework_01_uart\key_uart_test.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 120000001.000000
cursor 1180.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 9

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname bin_bcd.cs
nalias SHIFT		3'b010		NULL
nalias IDLE		3'b001		NULL
nalias DONE		3'b100		NULL

addGroup "counterdown_uart_test"
addGroup "counterdown_uart"
addGroup "countdown"
addGroup "uart"
addGroup "G5"
activeDirFile "" "F:\Robei\practice\homework_01_uart\key_uart_test.vcd.fsdb"
addSignal -h 15 /key_uart_test/clk
addSignal -h 15 -UNSIGNED -HEX -holdScope key_in[3:0]
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope tx
addSignal -h 15 -holdScope tx_valid
addGroup "G6"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "F:\Robei\practice\homework_01_uart\key_uart_test.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/key_uart_test"

SCOPE_LIST_BEGIN
"/key_uart_test"
"/countdown_uart_test"
"/countdown_uart_test/countdown_uart1/countdown6"
"/countdown_uart_test/countdown_uart1/uart2"
"/countdown_uart_test/countdown_uart1"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


