Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2033 120 1519 803 183 42

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "F:\Robei\practice\homework_01_uart\key_test.vcd" "F:\Robei\practice\homework_01_uart\key_test.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 99999261.000000
cursor 20003750.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name
; visible top row signal index
top 0
; marker line index
markerPos 11

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "F:\Robei\practice\homework_01_uart\key_test.vcd.fsdb"
addSignal -h 15 /key_test/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -UNSIGNED -UDEC -holdScope key_in[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope key_out[7:0]
addSignal -h 15 -holdScope key_pressed
addGroup "G2"
addSignal -h 15 /key_test/key1/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -UNSIGNED -UDEC -holdScope cnt[11:0]
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -BIN -holdScope key_in[3:0]
addSignal -c ID_PURPLE6 -ls solid -lw 1 -h 15 -UNSIGNED -BIN -holdScope key_in_q[3:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope key_flag[3:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -BIN -holdScope key_flag_delay[3:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope key_out[7:0]
addSignal -h 15 -holdScope key_pressed
addGroup "G3"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "F:\Robei\practice\homework_01_uart\key_test.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/key_test"
"/key_test/key1"

SCOPE_LIST_BEGIN
"/key_test"
"/key_test/key1"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


