Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -8 -8 1296 705 152 42

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "F:\Robei\practice\homework_01_uart\uart_test.vcd" "F:\Robei\practice\homework_01_uart\uart_test.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 2099.792762 2445.542762
cursor 2236.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name
; visible top row signal index
top 0
; marker line index
markerPos 24

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByRising


addGroup "G1" -e FALSE
activeDirFile "" "F:\Robei\practice\homework_01_uart\uart_test.vcd.fsdb"
addSignal -h 15 /uart_test/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope tx_en
addSignal -h 15 -UNSIGNED -HEX -holdScope data_send[7:0]
addSignal -h 15 -holdScope tx
addSignal -h 15 -holdScope tx_buf_full
addSignal -h 15 -holdScope rx
addSignal -h 15 -UNSIGNED -HEX -holdScope data_received[8:0]
addSignal -h 15 -holdScope rx_buf_full
addGroup "G2"
addSignal -h 15 /uart_test/uart1/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope rx_start
addSignal -h 15 -holdScope rx_cnt_en
addSignal -h 15 -holdScope rx_q
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 15 -holdScope rx
addSignal -h 15 -UNSIGNED -UDEC -holdScope rx_cnt[7:0]
addSignal -h 15 -holdScope rx_buf_full
addSignal -h 15 -UNSIGNED -BIN -holdScope data_received[8:0]
addGroup "G3"
addSignal -h 15 /uart_test/uart1/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope tx_en
addSignal -h 15 -holdScope tx_en_q
addSignal -h 15 -holdScope tx_start
addSignal -h 15 -holdScope tx_cnt_en
addSignal -h 15 -holdScope tx_buf_full
addSignal -h 15 -UNSIGNED -UDEC -holdScope tx_cnt[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_send[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope shift_reg[8:0]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -holdScope tx
addGroup "G4"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "F:\Robei\practice\homework_01_uart\uart_test.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/uart_test"
"/uart_test/uart1"

SCOPE_LIST_BEGIN
"/uart_test"
"/uart_test/uart1"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


