Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2038 160 1558 709 189 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "F:\Robei\practice\homework_02_uart_16550\tran_data_tb.vcd" "F:\Robei\practice\homework_02_uart_16550\tran_data_tb.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 34949991.000000
cursor 0.000000
marker 0.000000

; visible top row signal index
top 1
; marker line index
markerPos 28

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname uart.cs_rx
nalias IDLE_RX		4'b0000		NULL
nalias START_RX		4'b0001		NULL
nalias STOP_RX		4'b0100		NULL
nalias ERROR_RX		4'b1000		NULL
nalias RECEIVE_RX		4'b0010		NULL

aliasmapname uart.cs_tx
nalias SEND_TX		3'b010		NULL
nalias IDLE_TX		3'b000		NULL
nalias START_TX		3'b001		NULL
nalias STOP_TX		3'b100		NULL

addGroup "G1"
activeDirFile "" "F:\Robei\practice\homework_02_uart_16550\tran_data_tb.vcd.fsdb"
addSignal -h 15 /tran_data_tb/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope count_enable
addSignal -h 15 -holdScope tx
addSignal -h 15 -holdScope tx_done
addGroup "G2"
addSignal -h 15 -UNSIGNED -UDEC /tran_data_tb/tran_data1/count_uart_165502/countdown2/count[7:0]
addSignal -h 15 -holdScope count_en
addSignal -h 15 -holdScope count_en_q
addSignal -h 15 -holdScope count_en_flag
addSignal -h 15 -holdScope count_en_start
addSignal -h 15 -holdScope tx_done
addSignal -h 15 -holdScope tx_done_n
addSignal -h 15 -holdScope tx_done_q
addSignal -h 15 -holdScope tx_done_flag
addSignal -h 15 -UNSIGNED -UDEC -holdScope count_out[7:0]
addSignal -h 15 -holdScope count_full
addGroup "G3"
addSignal -h 15 /tran_data_tb/tran_data1/count_uart_165502/uart2/tx_en
addSignal -h 15 -holdScope tx_en_q
addSignal -h 15 -holdScope tx_start
aliasname uart.cs_tx
addSignal -h 15 -UNSIGNED -HEX -holdScope ns_tx[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope count_cycle_tx[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data_send[7:0]
addSignal -h 15 -holdScope tx
addSignal -h 15 -holdScope tx_buf_full
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_cnt[7:0]
addGroup "G4"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "F:\Robei\practice\homework_02_uart_16550\tran_data_tb.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/tran_data_tb"
"/tran_data_tb/tran_data1"
"/tran_data_tb/tran_data1/count_uart_165502"
"/tran_data_tb/tran_data1/count_uart_165502/countdown2"
"/tran_data_tb/tran_data1/count_uart_165502/uart2"

SCOPE_LIST_BEGIN
"/tran_data_tb"
"/tran_data_tb/tran_data1/count_uart_165502/countdown2"
"/tran_data_tb/tran_data1/count_uart_165502/uart2"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


